<p id="notice"><%= notice %></p>

<h1 class="text-center text-uppercase text-secondary mb-0">Serviços</h1>

<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Nome</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicos.each do |servico| %>
      <tr>
        <td><%= servico.Titulo %></td>
        <td><%= servico.Descricao %></td>
        <td><%= servico.Nome %></td>
        <td><%= servico.Status %></td>
        <td><%= link_to 'Show', servico %></td>
        <td><%= link_to 'Edit', edit_servico_path(servico) %></td>
        <td><%= link_to 'Destroy', servico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servico', new_servico_path %>
